* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --clr-primary-600: rgba(114, 63, 255);
  --clr-primary-500: rgba(58, 166, 255);
  --clr-primary-400: rgb(172, 32, 32);
}

/* light theme */
html[theme="light"] {
  --main-linear-bg: linear-gradient(
    20deg,
    rgba(114, 63, 255),
    rgba(58, 166, 255)
  );
  color: #eee;
  background-color: #222;
}
html[theme="light"] ::-webkit-scrollbar {
  background-color: rgba(0, 114, 207, 0.75);
  width: 7px;
}
html[theme="light"] ::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.486);
}

/* dark theme */
html[theme="dark"] {
  --main-linear-bg: linear-gradient(20deg, rgba(14, 10, 22), rgba(11, 17, 22));
  --clr-primary-900: #000;
  --clr-primary-800: rgb(30, 30, 30);
  --clr-primary-700: rgb(60, 60, 60);
  --clr-primary-300: rgb(180, 180, 180);
  --clr-primary-200: rgb(220, 220, 220);
  --clr-primary-100: rgb(255, 255, 255);
  color: rgb(202, 202, 202);
  background-color: #222;
}
html[theme="dark"] ::-webkit-scrollbar {
  background-color: rgb(37, 44, 49);
  width: 7px;
}
html[theme="dark"] ::-webkit-scrollbar-thumb {
  background-color: rgba(102, 102, 102, 0.5);
}

body {
  padding: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  background-color: lightgrey;
  background-image: var(--main-linear-bg);
  min-height: 100vh;
}

header {
  padding-block: 2.5rem;
  margin-inline: auto;
  text-align: center;
  display: flex;
  justify-content: space-around;
  max-width: 20rem;
}

.homeLink {
  border: none;
  text-align: center;
  background-color: rgba(132, 0, 255, 0.205);
  color: white;
  padding: 0.4em 0.8em;
  font-size: 1.1rem;
  border-radius: 50px;
  text-decoration: none;
  margin-block: 1rem;
  transition: background-color 0.2s ease-out, padding 0.2s ease-out,
    color 0.2s ease-out, scale 0.2s ease-out;
}

.homeLink:is(:hover, :focus-within) {
  background-color: rgba(29, 101, 150, 0.4);
  color: white;
  padding-inline: 1em;
  scale: 1.1;
}

main {
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.usersTable {
  background-color: rgba(220, 220, 220, 0.1);
  padding: clamp(0.1rem, 2.5vw, 0.5rem);
  text-align: center;
  color: white;
  border-radius: 20px;
}

.usersTitles {
  color: rgb(136, 182, 180);
}

.usersTable tr {
  border-radius: 10px;
}

.usersTable :is(th, td) {
  padding: clamp(0.7rem, 2.5vw, 1rem);
}

.usersTable :is(th, td):first-child {
  border-radius: 10px 0 0 10px;
}
.usersTable :is(th, td):last-child {
  border-radius: 0 10px 10px 0;
}

.usersTable tr:hover {
  background-color: rgba(200, 200, 200, 0.15);
}

@media (max-width: 500px) {
  body {
    padding: 0rem;
  }
}

.theme-btn {
  position: fixed;
  left: 0.5rem;
  top: 0.5rem;
}

.button {
  width: fit-content;
  padding: 0.5rem 0.9rem;
  font-weight: bold;
  font-size: 0.9rem;
  border: none;
  text-decoration: none;
  border-radius: 50px;
  background-color: rgba(0, 174, 255, 0.4);
  color: rgba(255, 255, 255, 0.8);
  box-shadow: 5px 5px 5px 1px rgba(114, 63, 255, 0.3);
  transition: 0.2s ease-out background-color, color 0.2s ease-out;
}

.button:where(:focus-visible, :hover) {
  color: whitesmoke;
  background-color: rgb(172, 32, 32);
}
