* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --clr-primary-600: rgba(114, 63, 255);
  --clr-primary-500: rgba(58, 166, 255);
  --clr-primary-400: rgb(172, 32, 32);
}

/* light theme */
html[theme="light"] {
  --main-linear-bg: linear-gradient(
    20deg,
    rgba(114, 63, 255),
    rgba(58, 166, 255)
  );
  color: #eee;
  background-color: #222;
}
html[theme="light"] ::-webkit-scrollbar {
  background-color: rgba(0, 114, 207, 0.75);
  width: 7px;
}
html[theme="light"] ::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.486);
}

/* dark theme */
html[theme="dark"] {
  --main-linear-bg: linear-gradient(20deg, rgba(14, 10, 22), rgba(11, 17, 22));
  --clr-primary-900: #000;
  --clr-primary-800: rgb(30, 30, 30);
  --clr-primary-700: rgb(60, 60, 60);
  --clr-primary-300: rgb(180, 180, 180);
  --clr-primary-200: rgb(220, 220, 220);
  --clr-primary-100: rgb(255, 255, 255);
  color: rgb(202, 202, 202);
  background-color: #222;
}
html[theme="dark"] ::-webkit-scrollbar {
  background-color: rgb(37, 44, 49);
  width: 7px;
}
html[theme="dark"] ::-webkit-scrollbar-thumb {
  background-color: rgba(102, 102, 102, 0.5);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  background-color: lightgrey;
  background-image: var(--main-linear-bg);
  min-height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

body > main {
  translate: 0 -10%;
  margin-inline: auto;
  width: min(100%, 40rem);
  max-width: 40rem;
}

body::before {
  content: "";
  position: absolute;
  height: 0px;
  width: 0px;
  border-radius: 50px;
  background-color: transparent;
  box-shadow: 10px 0 50px 50px rgba(191, 168, 255, 0.3),
    -10px 0 50px 50px rgba(159, 210, 255, 0.3);
  animation: ball1 ease-out infinite 13s 1s;
}

body::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 0px;
  width: 0px;
  border-radius: 50px;
  background-color: transparent;
  box-shadow: 10px 0 50px 50px rgba(191, 168, 255, 0.3),
    -10px 0 50px 50px rgba(159, 210, 255, 0.3);
  animation: ball2 ease-out infinite 13s 1s;
}

@keyframes ball1 {
  from,
  to {
    top: 0;
    left: 0;
  }
  25% {
    top: 100%;
    left: 0;
  }
  50% {
    top: 100%;
    left: 100%;
  }
  75% {
    top: 0;
    left: 100%;
  }
}

@keyframes ball2 {
  from,
  to {
    bottom: 0;
    right: 0;
  }
  25% {
    bottom: 100%;
    right: 0;
  }
  50% {
    bottom: 100%;
    right: 100%;
  }
  75% {
    bottom: 0;
    right: 100%;
  }
}

.error {
  color: red;
  font-weight: bold;
  background-color: #eee;
  padding: 0.4rem 0.8rem;
  text-align: center;
  margin: 1rem;
  margin-inline: auto;
  transition: 0.3s ease-out all;
}

fieldset {
  margin-inline: auto;
  --bg-color: rgba(255, 255, 255, 0.08);

  border: none;
  background-color: var(--bg-color);
  backdrop-filter: blur(5px);
  width: fit-content;
}

.page-title {
  padding: 0.4rem 0.8rem;
}

.form-header {
  display: flex;
  gap: 0.2rem;
}

.text-input {
  width: 90vw;
  max-width: 25rem;
  color: var(--clr-primary-200, rgba(0, 0, 0, 0.8));
  font-size: 0.95rem;
  padding: 0.6rem 0.9rem;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  background-color: var(--clr-primary-900, rgba(255, 255, 255, 0.5));
  transition: background-color 0.2s ease-out;
}

.text-input:read-only {
  opacity: 0.6;
}

.text-input:not(:read-only):where(:focus-visible, :hover) {
  background-color: var(--clr-primary-900, rgba(255, 255, 255, 0.9));
  border-color: rgba(0, 92, 168, 0.8);
  box-shadow: 0 0 15px -2px rgba(0, 0, 0, 0.2);
}

.submit-btn {
  width: fit-content;
  padding: 0.5rem 0.9rem;
  font-weight: bold;
  font-size: 0.9rem;
  border: none;
  border-radius: 50px;
  background-color: rgba(68, 0, 255, 0.4);
  color: rgba(255, 255, 255, 0.8);
  transition: 0.15s ease-out background-color, color 0.15s ease-out;
}

.submit-btn:where(:focus-visible, :hover) {
  color: whitesmoke;
  background-color: rgba(0, 92, 168, 0.8);
}

.edit-btn {
  padding: 0.6rem 0.8rem;
  font-size: 0.95rem;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  border: none;
  background-color: rgba(0, 92, 168, 0.8);
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.2s ease-out, background-color 0.2s ease-out;
}

.edit-btn:is(:hover, :focus-visible) {
  background-color: rgba(68, 0, 255, 0.4);
  opacity: 1;
}

/*Box*/
.d-flex {
  display: flex;
}

.error {
  color: red;
  font-weight: bold;
  background-color: #eee;
  padding: 0.4rem 0.8rem;
  text-align: center;
  margin-inline: auto;
  transition: 0.3s ease-out all;
}
.align-c {
  align-items: center;
}

.gap-1 {
  gap: 0.5rem;
}

.p-3 {
  padding: 1.5rem;
}

.p-2 {
  padding: 1rem;
}

.d-grid {
  display: grid;
}

.gap-20 {
  gap: 20px;
}

.hidden-ele {
  width: 0;
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: none;
  outline: none;
}

@media (max-width: 500px) {
  body > main {
    padding: 0;
  }
  .p-3 {
    padding: 1.5rem 0.6rem !important;
  }
}

.theme-btn {
  position: fixed;
  left: 0.5rem;
  top: 0.5rem;
}

.button {
  width: fit-content;
  padding: 0.5rem 0.9rem;
  font-weight: bold;
  font-size: 0.9rem;
  border: none;
  text-decoration: none;
  border-radius: 50px;
  background-color: rgba(0, 174, 255, 0.4);
  color: rgba(255, 255, 255, 0.8);
  box-shadow: 5px 5px 5px 1px rgba(114, 63, 255, 0.3);
  transition: 0.2s ease-out background-color, color 0.2s ease-out;
}

.button:where(:focus-visible, :hover) {
  color: whitesmoke;
  background-color: rgb(172, 32, 32);
}
