/*Box*/
.d-flex {
  display: flex;
}

.error {
  color: red;
  font-weight: bold;
  background-color: #eee;
  padding: 0.4rem 0.8rem;
  text-align: center;
  margin-inline: auto;
  transition: 0.3s ease-out all;
}

.justify-c {
  justify-content: center;
}

.justify-sb {
  justify-content: space-between;
}

.d-grid {
  display: grid;
}

.align-c {
  align-items: center;
}
.justify-c {
  justify-content: center;
  justify-items: center;
}

.w-fit {
  width: fit-content;
}
.h-fit {
  height: fit-content;
}

/*end of Box*/
/* font size and weight */
.fs-10 {
  font-size: 10px;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-24 {
  font-size: 24px;
}

.fw-lighter {
  font-weight: 200;
}

.fw-light {
  font-weight: 300;
}

.fw-normal {
  font-weight: 400;
}

.fw-bold {
  font-weight: 500;
}

.fw-bolder {
  font-weight: 600;
}
/* end font size */
/*padding and margin*/
.p-1 {
  padding: 0.5rem;
}

.p-2 {
  padding: 1rem;
}

.p-3 {
  padding: 1.5rem;
}

.pb-1 {
  padding-bottom: 0.5rem;
}

.pb-2 {
  padding-bottom: 1rem;
}

.pb-3 {
  padding-bottom: 2rem;
}

.pt-1 {
  padding-top: 0.5rem;
}

.pt-2 {
  padding-top: 1rem;
}

.pt-3 {
  padding-top: 2rem;
}

.pr-1 {
  padding-right: 0.5rem;
}

.pr-2 {
  padding-right: 1rem;
}

.pr-3 {
  padding-right: 1.5rem;
}

.pl-1 {
  padding-left: 0.5rem;
}

.pl-2 {
  padding-left: 1rem;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

/*end of padding and margin*/

/*opacity*/
.op-min {
  opacity: 0.6;
}

.op-mid {
  opacity: 0.8;
}

.op-max {
  opacity: 1;
}

.no-list {
  list-style: none;
}

.gap-1 {
  gap: 0.5rem;
}

.gap-20 {
  gap: 20px;
}
/*end opacity*/
/*background*/
.bg-gray {
  background-color: rgb(13, 15, 12);
}
.bg-white {
  background-color: white;
}
.bg-black {
  background-color: black;
}
/*end background*/
/*border radius*/
.rad-10 {
  border-radius: 10px;
}

.rad-20 {
  border-radius: 20px;
}

.rad-50 {
  border-radius: 50px;
}

.circle {
  border-radius: 50%;
}
/*end border radius*/
