* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: rgba(0, 114, 207, 0.75);
}

::-webkit-scrollbar-thumb {
  width: 7px;
  background-color: rgba(255, 255, 255, 0.486);
}

body {
  padding: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  min-height: 100vh;
  background-color: lightgrey;
  background-image: linear-gradient(
    20deg,
    rgba(114, 63, 255),
    rgba(58, 166, 255)
  );
  color: whitesmoke;
  position: relative;
  isolation: isolate;
}

.deco-img {
  position: absolute;
  max-height: 60vh;
  aspect-ratio: 1;
  opacity: 0.05;
  left: 50%;
  translate: -50%;
  z-index: -1;
  transition: scale 0.4s ease-in-out;
}

header {
  padding-block: 1rem;
}

main {
  padding-top: 1rem;
}

.main-svg-container {
  padding-top: 2rem;
  max-width: 45rem;
  margin-left: auto;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding-block: 0.5rem;
  max-width: 90rem;
  width: 100%;
}

.text-input {
  width: clamp(15rem, 70vw, 25rem);
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.95rem;
  padding: 0.6rem 0.9rem;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50px;
}

.text-input:where(:focus-visible, :hover) {
  border-color: rgba(0, 92, 168, 0.8);
  box-shadow: 0 0 15px -2px rgba(0, 0, 0, 0.2);
}

.button {
  width: fit-content;
  padding: 0.5rem 0.9rem;
  font-weight: bold;
  font-size: 0.9rem;
  border: none;
  text-decoration: none;
  border-radius: 50px;
  background-color: rgba(0, 174, 255, 0.4);
  color: rgba(255, 255, 255, 0.8);
  transition: 0.2s ease-out background-color, color 0.2s ease-out;
}

.button:where(:focus-visible, :hover) {
  color: whitesmoke;
  background-color: rgb(172, 32, 32);
}
